# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Results
dataset/
data/
data_processed/
zenodo_mixed/
*.zip
*.pth

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
.DS_Store
